.hot-pet {
    .label-name{
        min-width: 120rpx;
        height: 80rpx;
        display: inline-block;
        background-color: #c1f7f7;
        text-align: center;
        padding: 0 10rpx;
        margin: 5rpx 10rpx;
        line-height: 25rpx;
        font-size: 30rpx;
        border-radius: 10rpx;
    }
}