/**
 * css reset
 */

html{
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #f7f7f7;
  word-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}


body{
  padding: 0;
  margin: 0 auto;
  outline: 0;
  color: #333;
  -webkit-overflow-scrolling: touch;
  font-size: 24px;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

a,
img,
button,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
li,
menu,
ol,
p,
textarea,
ul,
figure,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
  border: 0;
}

li,
ol,
ul,
dl,
dt,
dd {
  list-style: none
}

b,
em,
h1,
h2,
h3,
h4,
h5,
h6,
i,
th,
td {
  font-weight: 400;
  font-style: normal
}


/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}


/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a {
  color: #333;
}
a:active,
a:hover {
  outline-width: 0;
  color: #333;
}

button,
input,
select,
textarea,
img {
  outline: 0;
  color: #000;
}

button,
input[type=button],
input[type=password],
input[type=submit],
input[type=text],
textarea {
  -webkit-appearance: none;
  -webkit-appearance: button;
  /* 2 */
}

a,
a:visited {
  text-decoration: none;
  /*color: #5c5658*/
}

img,
video {
  vertical-align: middle;
  border: 0;
  border-style: none;
}


/**
    pc
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}


/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.clear:after {
  content: '';
  display: block;
  clear: both
}

.left {
  float: left;
}

.right {
  float: right;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
