.hot-pet {
    padding: 0 40rpx;
    .pet-box {
        display: flex;
        align-items: baseline;
    }

    .label-type {
        font-size: 36rpx;
    }
    .label-box {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        .item-name {
            margin:0 10rpx 20rpx;
        }
    }
    .c-tag {
        background-color: #ff9d00; 
        color: #fff; 
        border-color: #ff9d00;
    }
}