$bgBlue : #1989fa; // 主要颜色
$bgRed : #ee0a24; // 错误 
$bgGreen : #07c160; // 成功
$bgOrange : #ff976a; // 警告
$color333 : #333; // 标题颜色
$color666 : #666; // 主要内容颜色
$color999: #999; // 次要内容
$fff: #fff; // 白色
$label: #e6f1f1;
$f1: #f1f1f1; // 边框颜色
$f5: #f5f5f5; // 用于背景色