
/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */
$uni-text-color-title:#333;//标题色
$uni-text-color:#666;//基本色
$uni-text-color-grey:#999;//辅助灰色，如加载更多的提示信息

// 主要颜色
$uni-main-color: #ff9d00; 

/* 背景颜色 */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;


/* 边框颜色 */
$uni-border-color:#c8c7cc;
